.no_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}
.left_right_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-left-color:black;
  border-right-color:black;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}

.left_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-left-color:black;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}
.right_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-right-color:black;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}
.all_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-color:black;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}
.top_bottom_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-top-color:black;
  border-bottom-color:black;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}

.top_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-top-color:black;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}
