.o_mark {
    background:url(../img/o.png) no-repeat center top;
    height:100%;
    width:100%;
    background-size: contain;
}

.x_mark {
    background:url(../img/x.png) no-repeat center top;
    height:100%;
    width:100%;
    background-size: contain;
}

.no_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}
.left_right_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-left-color:#3f51b5;
  border-right-color:#3f51b5;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}

.left_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-left-color:#3f51b5;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}
.right_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-right-color:#3f51b5;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}
.all_border {
  width: 100px;
  height: 100px;
  border-width:3px;
  border-style: solid;
  border-color:#3f51b5;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}
.top_bottom_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-top-color:#3f51b5;
  border-bottom-color:#3f51b5;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}

.top_border {
  width: 100px;
  height: 100px;
  border-color:white;
  border-width:3px;
  border-style: solid;
  border-top-color:#3f51b5;
  display:inline-flex;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color:white;
}
